body{
	height: 100%;
	width: 100%;
	background-color: #4e5b6c;
	overflow: hidden;
}

#logo{
	position: absolute;
	top:8%;
	left:41%;
	height:18%;
	width: 18%;
}

.sections-row{
	text-align: center;
}

.header-row{
	height: 60px;
}
.sec{
	/*position: absolute;
	top: 15%;
	width: 40%;
	height: 75%;
	
	color: #8191a9;*/
}

#left_section{
	/*left:10%;*/
	/*background: black;
	margin-left: 30px;
	width: 59%;
	border-right: 1px solid #8191a9;*/
	margin: 100px 30px;
	height: 550px;
	background: black;
}

#right_section{
	/*right:0%;
	margin-right: 30px;
	background: black;
	width: 35%;
	border-left: 1px solid #8191a9;*/
	margin: 100px 30px;
	height: 550px;
	background: black;
}

#intro_text{
    /*position: absolute;	*/
	font-size: 1.5em;
	/*left:30%;*/
	padding-top: 50px;
	font-family: "Mangal";
}

#intro_text p{	
	margin: 0;
	color: #8191a9;
}
span#sc{
	color:#1fcaf6;
} 
span#s{
	color:#c48e9f ;
} 
span#p{
	color:#908fb7; 
} 
span#r{
	color:#bcbb89; 
}
span#e{
	color:#50cccb; 
}  



#signup_sec{
	/*position: absolute;*/
	font-family: "Mangal";
	font-size: 1.2em;
	padding-top: 30px;
	/*left:32%;*/
	/*top:50%;*/
}

#signup_sec p{
	color: #8191a9;
}

#signup_sec input{	
	padding: 0;
	/*position: absolute;*/
	/*top:85%;*/
	/*left:-12%;*/
	width: 175px;
	height: 45px;
	border-radius: 0px;
	border: none;
	background: #1fcaf6;
	color: white;
	font-size: 1.2em;
}


/*---------------------------------------------------------------------------------------------*/

#signin_sec{	
	
	/*position: absolute;
	left:15%;
	margin-left: 150px;
	margin-top: 50px;
	font-family: "Mangal";
	font-size: 1.4em;
	height: 60%;
	width: 100%;*/
}

#signin_sec input{	
	border: none;
	width: 43%;
	height: 10%;
	/*border-radius: 10px;	*/
	background: transparent;
	border-bottom: 1px solid grey;
}

::-webkit-input-placeholder {
  padding-top: 1%;
  padding-left: 3%;
  padding-bottom: 1%;
  color:    #999;
  font-size:0.8em;
}

input[type=text], input[type=password]{  
  font-size: 0.8em;
  padding-top: 1%;
  padding-left: 3%;
  padding-bottom: 1%;
  color: #404040;
}
input[type=text]:focus, input[type=password]:focus {  
  outline: none;  
}

#forgot{	
	/*position: absolute;*/
	/*left:0%;*/
	/*top:70%;*/
	margin-top: 47px;
	color: #8191a9;
	font-size:0.7em;	
}

#forgot:hover{
	text-decoration:none;
}


.submit input{	
	ition: absolute;
	top:42%;
	/*left:1pos5%;*/
	margin-left: 150px;
	border: none;
	width: 43%;
	height: 7%;
	border-radius: 0px;
	background-color:#1fcaf6; 
	color: white;
	font-size: 1.2em;
}

#so_si{	
	/*border: 1px solid white; */
	/*position: absolute;
	top:55%;
	left:20%;
	margin-left: 150px;
	width:80%;
	height: 30%;*/

}

#click_here{
	/*position: absolute;
	left: 0%;
	font-size: 1.2em;
	color:#8191a9;*/
}

#click_here:hover{
	text-decoration:none;
}
#so_si p{
	/*font-size: 1.2em;
	position: absolute;
	top:20px;*/
}

#social_signin{
	/*border: 1px solid white; */
	/*position: absolute;
	top:15%;*/
	/*left: 10%;*/
}

.social_buttons{	
	float:left;
	width: 15%;
	height: 15%;
	margin-right: 2%;
}



/*-----------HEADER--------------*/

.header-sec{
	border-radius: 0;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 99999;
	border: 1px solid transparent;
	background-color: rgba(0,0,0,0.35);
}

.header-sec #header-logo a{
	padding: 10px;
}

.header-sec #header-logo img{
	height: 35px;
}

.header-sec .navbar-nav li a{
	color: #1fcaf6;
}