html, body{
	height: 100%;
}


/*============ COMMON STYLES ========== */

.full-height{
	height: 100%;
}

/*============ CUSTOM STYLES ========== */

.left-vertical-bar{
	background: grey;
}

.right-vertical-bar{
	background: blue;
}

.heading-row{
	background: black;
	font-size: 25px;
}