html, body{
	height: 100%;
	font-family: 'Lato', sans-serif;
}


/*============ COMMON STYLES ========== */

.full-height{
	height: 100%;
}

/*============ CUSTOM STYLES ========== */

.left-vertical-bar{
	background: grey;
}

.right-vertical-bar{
	/*background: blue;*/
}

.heading-row{
	/*background: light-grey;*/
	font-size: 25px;
}

.left-vertical-bar-list-group a{
	background: transparent;
	border: none;
}

.bitsint{
	text-align: right;
	font-size: 45px;
	font-weight: 400;
}

.refresh-btn{
	border-radius: 50%;
}

.clock{
	font-size: 25px;
	padding-right: 10px;
}

.projects-tab{
	position: relative;
	top: -3px;
	font-size: 15px;
	padding-right: 5px;
}

.badge{
	position: relative;
	top: -13px;
	border-radius: 50%;
}

.search-input-group{
	width: 50%;
}

.search-project-btn{
	border-radius: 20px;
	margin-right: 9px;
}

.fa-plus-circle{
	font-size: 19px;
	margin-top: 6px;
}

.search-project-row{
	margin-top: 20px;
	margin-bottom: 20px;
}

.result-content{
	padding-left: 0;
}

.view-project-btn{
	border-radius: 20px;
	margin-top: 15px;
}